certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
line-bot-sdk==1.8.0
MarkupSafe==1.0
requests==2.19.1
urllib3==1.23
Werkzeug==2.2.3
gunicorn==19.6.0
numpy==1.16.3
beautifulsoup4==4.8.0
bs4
lxml